@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Rubik+Scribble&display=swap');

main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}
:root {
  --tertiary: rgb(144, 73, 216);
  --primary: rgb(220, 199, 240);
  --secondary: rgb(166, 101, 207);
  --dark: rgb(105, 63, 134);
  --darker: rgb(52, 17, 81);
  --light: rgba(238, 238, 247, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}
